html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Ubuntu, sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 1.6rem;
}

*{
  box-sizing: border-box;
}

button, input[type="submit"], input[type="reset"] {
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
	color: inherit;
	font: inherit;
}

.arrow::after {
  display: inline-block;
  margin-left: 5px;
  content: url(./assets/link.svg);
}

.underline:hover{
  text-decoration: underline !important;
}

.nav{
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 0 32px;
  font-weight: 600;
  font-size: 1.8rem;

  .logo{
    color: var(--sc);
    font-weight: bold;
    text-decoration: none;
  }

  .menu{
    margin: 12px;
    padding: 0;

    li{
      display: inline-block;
      list-style: none;

      a{
        margin: 0 16px;
        color: var(--pc);
        text-decoration: none;
      }
    }
  }
}

.header{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  background-color: var(--tc);
  padding-inline: max(40px, calc((100% - 1400px) / 2));
  width: 100%;
  min-height: 600px;

  .left{
    flex: 1 1 430px;
    max-width: 500px;

    h1{
      margin: 16px 0;
      color: var(--pc);
      font-size: clamp(3.2rem, 3vw + 2rem, 5.6rem);
    }

    .description{
      color: var(--sc);
      font-size: 1.8rem;
    }
  }

  .right{
    flex: 1 3 400px;
    justify-content: center;
    align-items: center;
    max-width: 700px;

    img{
      width: 100%;
      height: 100%;
    }
  }
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 8vw auto;
  padding: 20px;
  max-width: 1400px;

  .card{
    max-width: 380px;

    .image{
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .title{
      margin: 16px 0;
      color: var(--pc);
      font-size: 1.8rem;
    }

    .description{
      color: var(--sc);
      font-size: 1.6rem;
    }

    a{
      display: block;
      margin: 16px 0;
      width: fit-content;
      color: var(--sc);
      font-weight: 600;
      font-size: 1.6rem;
      text-decoration: none;
    }
  }
}

.form{
  margin: 8vw auto;
  padding-inline: max(40px, calc((100% - 600px) / 2));

  label{
    color: var(--sc);
    font-size: 1.4rem;
  }

  input, select, textarea{
    margin: 6px 0 12px;
    border: none;
    background-color: var(--tc);
    padding: 16px;
    width: 100%;
    color: var(--qt) !important;
    font-size: 1.6rem;
    font-family: inherit;
  }

  input::placeholder,textarea::placeholder{
    color: var(--qt);
  }

  textarea{
    height: 160px;
    resize: none;
  }

  select{
    border: 1px var(--tc) solid;
    scroll-behavior: smooth;
    color: var(--qt);
  }

  button{
    padding: 18px;
    width: 100%;
  }
}

.price-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 8vw auto;
  padding: 20px;
  max-width: 1400px;

  .card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
    padding: 24px;
    max-width: 420px;

    .icon{
      display: block;
      margin: 0 0 0 auto;
      width: 60px;
      height: 60px;
      object-fit: cover;
    }

    .price{
      margin: 16px 0;
      color: var(--pc);
      font-weight: bold;
      font-size: clamp(3.2rem, 3vw + 2rem, 5.6rem);;
    }

    .period{
      position: relative;
      bottom: 6px;
      margin: 20px;
      color: var(--sc);
      font-weight: bold;
      font-size: 1.8rem;
    }

    .description{
      margin: 10px 0;
      color: var(--sc);
    }

    .divider{
      margin: 22px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
    }

    .features-title{
      color: var(--sc);
      font-weight: bold;
    }

    ul.features{
      flex: 1;
      margin: 18px 0 40px;
      padding: 0;
      color: var(--sc);
      list-style: inside url(./assets/checkmark.svg);

      .feature{
        margin: 8px 0;
      }
    }

    button{
      width: 100%;
    }

    .end{
      margin: 20px 0 0;
      color: var(--sc);
      text-align: center;

      a{
      margin: 0 10px;
      color: var(--sc);
      font-weight: bold;
      text-decoration: none;
      }
    }
  }
}

.carousel{
  --width: 400px;
  --gap: 20px;
  position: relative;
  margin: 8vw auto;
  overflow-x: hidden;
  font-weight: 500;
  font-size: 1.8rem;

  .left, .right{
    position: absolute;
    scale: 1.5;
    z-index: 1;
    cursor: pointer;
    padding: 10px;
  }

  .left{
    top : calc(50% - 20px);
    left: 3vw;
  }

  .right{
    top : calc(50% - 20px);
    right: 3vw;
  }

  .wrapper{
    display: flex;
    justify-content: flex-start;
    gap: var(--gap, 20px);
    transition: all 0.3s ease;
    margin: 0 10vw;

    .card{
      display: flex;
      flex: 0 0 var(--width, 400px);
      flex-direction: column;
      opacity: 1;
      transition: all 0.3s ease;


      &.hiding{
        opacity: .5;
      }

      .description{
        flex: 1;
        margin: 16px 0;
        color: var(--sc);
      }

      .info{
        display: flex;
        align-items: center;
        gap: 20px;

        .avatar{
          display: inline;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          object-fit: cover;
      }

        .details{
          color: var(--pc);

          .name{
            font-weight: bold;
          }
        }
      }
    }
  }
}

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8vw auto;
  padding-inline: max(40px, calc((100% - 1400px) / 2));


  .logo{
    margin: 14px 20px 14px 0;
    color: var(--sc);
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
  }

  h3{
    color: var(--pc);
    font-size: 1.8rem;
  }

  .menu-fill{
    flex: 4 1 0;
  }

  .menus{
    display: flex;
    flex: 10 1 400px;
    flex-wrap: wrap;
    justify-content: space-between;

    .menu{
      flex: 1 1 120px;

      .links{
        margin: 16px 0;
        padding: 0;

        li{
          list-style: none;
        }

        a{
          color: var(--sc);
          font-weight: 500;
          text-decoration: none;
        }
      }
    }
  }

  .divider{
    display: none;
    margin: 8px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .subscribe{
    flex: 1 1 400px;

    .email{
      position: relative;

      input{
        border: none;
        background-color: var(--tc);
        padding: 16px;
        width: 100%;
        color: var(--qt);
        font-size: 1.6rem;
        font-family: inherit;
      }

      input::placeholder{
        color: var(--qt);
      }

      button{
        position: absolute;
        top: calc(50% - 16px);
        right:12px;
        scale: 1.5;
        border: none;
        background-color: unset;
        padding: 2px;
      }
    }

    p{
      color: var(--qt);
      font-size: 1.4rem;
    }
  }
}

.copy-and-social{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 30px auto;
  padding-inline: max(40px, calc((100% - 1400px) / 2));

  .copy{
    color: var(--sc);
    font-weight: 600;
  }

  .info{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 16px;

    .links{
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      a{
        color:var(--qt);
        text-decoration: none;
      }
    }
  }

  .social{
    display: flex;
    gap: 10px;

    a{
      text-decoration: none;

      img{
        width: 26px;
        height: 26px;
      }
    }
  }
}

.mobile{
  display: none;
}
@media (max-width: 520px) {
  .mobile{
    display: block;
  }

  .nav{
    padding: 0 8px;

    .left{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .hamburger{
        font-size: 2rem;
        cursor: pointer;
        padding: 10px;
        color: var(--sc);
      }
    }

    .menu{
      li{
        display: none;
      }
    }
  }

  .carousel{
    --width: 68vw;
    --gap: 10px;

    .left, .right{
      display: none;
    }
  }

  .footer{
    .divider{
      display: block;
    }
  }

  .copy-and-social{
    .copy{
      color: var(--qt);
    }

    .social{
      gap: 20px;

      img{
        filter: hue-rotate(220deg) saturate(70%) brightness(140%);
        opacity: 0.6;
      }
    }
  }
}